@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --primary: 187 100% 42%; /* cyan-500 ish */
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 38 92% 50%; /* amber-500 ish */
    --accent-foreground: 222.2 47.4% 11.2%;
  }
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 font-sans;
  }
}
